.markdown {
    @apply text-gray-900;

    *:not(:last-child) {
        @apply mb-2;
    }

    blockquote {
        @apply text-gray-800 border-solid border-l-4 border-gray-500 pl-4 py-1 mb-2;
    }
}
