.sidebar-wrapper {
    @apply w-full mt-4;

    @screen md {
        @apply pl-8 w-1/4 mt-0;
    }

    .sidebar {
        @apply p-4 bg-white rounded-lg border-b-2 border-gray-400;

        h3 {
            @apply text-sm text-gray-700 mb-1;
        }

        a {
            @apply text-brand-500 font-semibold;
        }
    }
}
